
// Размеры
$size--side-space: 16px; // Боковой отступ
$size--mobile-footer-height: 56px; // Высота мобильного футера (меню)

// Цвета
$color--light-primary: #9C404D;
$color--dark-primary: #40000F;

// Размеры шрифтов
$fs--large: 24px;
$fs--default: 16px;
$fs--mini: 12px;
