
// Размеры
$size--side-space: 16px; // Боковой отступ
$size--mobile-footer-height: 56px; // Высота мобильного футера (меню)

// Цвета
$color--light-primary: #9C404D;

// Размеры шрифтов
$fs--mini: 12px;
